.submit-button,
.remove-button {
  background-color: black;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-color: transparent;
}

#about-me-text-area {
  resize: none;
}

.card-container {
  fieldset {
    border: 1px solid grey;
    border-radius: 1em;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  align-items: center;

  .submit-button {
    width: 100%;
    grid-column: 1 / -1;
  }
}
