.side-bar-nav {
  height: 100%;
  background-color: #111;
  overflow: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.side-bar-open {
  transform: translateX(0);
  opacity: 1;
}

.side-bar-close {
  transform: translateX(-50%);
  opacity: 0;
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 768px) {
}
